.cc-items-u {
  margin: 0;
}
.levents-ss24-collection-container4 {
  position: absolute;
  top: 434px;
  left: 795px;
  display: inline-block;
  width: 485px;
  height: 461px;
}
.image-5-icon1 {
  position: absolute;
  top: 403px;
  left: 10px;
  width: 741px;
  height: 388px;
  object-fit: cover;
}
.desktop-2-child,
.desktop-2-item {
  position: absolute;
  top: 1237.4px;
  left: -4px;
  background-color: var(--color-white);
  width: 1330px;
  height: 115.6px;
}
.desktop-2-item {
  top: 807px;
  background-color: var(--color-gainsboro-100);
  height: 430.4px;
}
.image-6-icon1,
.image-7-icon1,
.image-8-icon1,
.image-9-icon10 {
  position: absolute;
  top: 807px;
  left: -4px;
  width: 332.5px;
  height: 433.3px;
  object-fit: cover;
  cursor: pointer;
}
.image-7-icon1,
.image-8-icon1,
.image-9-icon10 {
  left: 328.5px;
}
.image-8-icon1,
.image-9-icon10 {
  left: 661px;
}
.image-9-icon10 {
  left: 993.5px;
}
.image-10-icon4,
.image-11-icon4,
.image-12-icon4,
.image-13-icon6 {
  position: absolute;
  top: 1120.9px;
  left: -4px;
  width: 89.6px;
  height: 116.5px;
  object-fit: cover;
}
.image-11-icon4,
.image-12-icon4,
.image-13-icon6 {
  left: 328.5px;
}
.image-12-icon4,
.image-13-icon6 {
  left: 661px;
}
.image-13-icon6 {
  top: 1123.8px;
  left: 993.5px;
}
.levents-casual-mini,
.levents-casual-shoulder {
  position: absolute;
  top: 1253.8px;
  left: 68px;
  display: inline-block;
  width: 180.1px;
  height: 11.6px;
}
.levents-casual-shoulder {
  left: 409.8px;
  width: 169px;
  height: 50.1px;
}
.levents-cargo-shortpants4,
.levents-cargo-sweatpants {
  position: absolute;
  top: 1253.8px;
  left: 742.3px;
  display: inline-block;
  width: 172.7px;
  height: 70.3px;
}
.levents-cargo-shortpants4 {
  left: 1087.7px;
  width: 144.1px;
  height: 79.9px;
}
.desktop-2-inner {
  position: absolute;
  top: 1369px;
  left: -4px;
  width: 1343px;
  height: 1.9px;
  object-fit: contain;
}
.desktop-2-child1,
.desktop-2-child2 {
  position: absolute;
  top: 1817.4px;
  left: 13px;
  background-color: var(--color-white);
  width: 1330px;
  height: 115.6px;
}
.desktop-2-child2 {
  top: 1387px;
  background-color: var(--color-gainsboro-100);
  height: 430.4px;
}
.image-6-icon2,
.image-7-icon2,
.image-8-icon2,
.image-9-icon11 {
  position: absolute;
  top: 1387px;
  left: 13px;
  width: 332.5px;
  height: 433.3px;
  object-fit: cover;
  cursor: pointer;
}
.image-7-icon2,
.image-8-icon2,
.image-9-icon11 {
  left: 345px;
}
.image-8-icon2,
.image-9-icon11 {
  left: 678px;
}
.image-9-icon11 {
  left: 1010.5px;
}
.image-10-icon5,
.image-11-icon5,
.image-12-icon5,
.image-13-icon7 {
  position: absolute;
  top: 1700.9px;
  left: 13px;
  width: 89.6px;
  height: 116.5px;
  object-fit: cover;
}
.image-11-icon5,
.image-12-icon5,
.image-13-icon7 {
  left: 345.5px;
}
.image-12-icon5,
.image-13-icon7 {
  left: 678px;
}
.image-13-icon7 {
  top: 1703.8px;
  left: 1010.5px;
}
.levents-casual-mini1,
.levents-casual-shoulder1 {
  position: absolute;
  top: 1833.8px;
  left: 85px;
  display: inline-block;
  width: 180.1px;
  height: 11.6px;
}
.levents-casual-shoulder1 {
  left: 426.8px;
  width: 169px;
  height: 50.1px;
}
.levents-cargo-shortpants5,
.levents-cargo-sweatpants1 {
  position: absolute;
  top: 1833.8px;
  left: 759.3px;
  display: inline-block;
  width: 172.7px;
  height: 70.3px;
}
.levents-cargo-shortpants5 {
  left: 1104.7px;
  width: 144.1px;
  height: 79.9px;
}
.our-collection4 {
  position: absolute;
  top: 1967px;
  left: 68px;
  font-size: var(--font-size-13xl);
}
.image-16-icon,
.image-17-icon,
.image-18-icon {
  position: absolute;
  top: 2422px;
  left: -15px;
  width: 440px;
  height: 550px;
  object-fit: cover;
  cursor: pointer;
}
.image-17-icon,
.image-18-icon {
  left: 995px;
}
.image-17-icon {
  left: 490px;
}
.levents-05-jersey,
.levents-flowers-window4,
.levents-sticker-raglan4 {
  position: absolute;
  top: 3014px;
  left: 60px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-05-jersey,
.levents-flowers-window4 {
  left: 565px;
}
.levents-05-jersey {
  left: 1070px;
}
.image-14-icon10,
.image-15-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 535px;
  height: 275px;
  object-fit: cover;
}
.image-15-icon4 {
  left: 593px;
}
.image-14-parent {
  position: absolute;
  top: 2040px;
  left: 124px;
  width: 1128px;
  height: 275px;
}
.styling4 {
  position: absolute;
  top: 2349px;
  left: 25px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 231px;
}
.image-19-icon,
.image-20-icon,
.image-21-icon8,
.image-22-icon4 {
  position: absolute;
  top: 3106px;
  left: 23px;
  width: 291.1px;
  height: 373px;
  object-fit: cover;
}
.image-20-icon,
.image-21-icon8,
.image-22-icon4 {
  left: 647.3px;
  width: 364.4px;
}
.image-20-icon,
.image-22-icon4 {
  top: 3110px;
  left: 1037.1px;
  width: 284.3px;
  height: 365px;
}
.image-20-icon {
  left: 333px;
  width: 296px;
  height: 373px;
}
.footer-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.span11 {
  text-decoration: underline;
}
.a11 {
  color: inherit;
}
.lin-h-hotline-container11 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn4 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container11,
.h-tr-ti-container1 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container1 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon1 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share12 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.footer1 {
  position: absolute;
  top: 3517px;
  left: 18px;
  width: 1325px;
  height: 353px;
  text-align: left;
}
.header-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3886px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
