.group-child64 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 632.4px;
  height: 860.6px;
}
.levents-asia6 {
  margin: 0;
  font-weight: 100;
}
.levents-05-jersey-red2 {
  margin: 0;
  font-size: var(--font-size-mini);
}
.vnd20 {
  margin: 0;
}
.blank-line36 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line38 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.color14 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.levents-asia-levents-05-container2 {
  position: absolute;
  top: 72.6px;
  left: 64px;
  display: inline-block;
  width: 627px;
  height: 252.8px;
  font-size: var(--font-size-smi);
}
.group-child65 {
  position: absolute;
  top: 186px;
  left: 305px;
  background-color: var(--color-black);
  width: 59px;
  height: 43px;
}
.size6 {
  position: absolute;
  top: 266px;
  left: 66.8px;
  display: inline-block;
  width: 61.6px;
  height: 32.3px;
}
.group-child66,
.group-child67,
.group-child68 {
  position: absolute;
  top: 325.4px;
  left: 123px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 101.8px;
  height: 45.7px;
}
.group-child67,
.group-child68 {
  left: 275.7px;
}
.group-child68 {
  left: 428.4px;
}
.div21,
.div22 {
  top: 330.8px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.div21 {
  position: absolute;
  left: 163.1px;
  display: inline-block;
  height: 32.3px;
}
.div22 {
  left: 315.9px;
}
.div22,
.div23,
.s-lng14 {
  position: absolute;
  display: inline-block;
  height: 32.3px;
}
.div23 {
  top: 330.8px;
  left: 465.9px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.s-lng14 {
  top: 398px;
  left: 61.3px;
  width: 112.5px;
}
.group-child69 {
  position: absolute;
  top: 459.8px;
  left: 206px;
  background-color: var(--color-gainsboro-100);
  width: 270.6px;
  height: 61.9px;
}
.group-child70,
.thm-vo-gi6 {
  position: absolute;
  cursor: pointer;
}
.thm-vo-gi6 {
  top: 480px;
  left: 263px;
  display: inline-block;
  width: 171.5px;
  height: 32.3px;
}
.group-child70 {
  top: 540.5px;
  left: 208.7px;
  background-color: var(--color-black);
  width: 270.6px;
  height: 61.9px;
}
.mua-ngay10 {
  position: absolute;
  top: 555px;
  left: 283px;
  color: var(--color-white);
  display: inline-block;
  width: 125.9px;
  height: 32.3px;
}
.sn-phm-nm6 {
  margin: 0;
  font-weight: 200;
}
.chnh-sch-vn-container6,
.thng-tin-sn-container9 {
  position: absolute;
  top: 629.3px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 570.7px;
  height: 83.4px;
}
.chnh-sch-vn-container6 {
  top: 720.7px;
  width: 562.7px;
  height: 129.1px;
}
.rectangle-parent21 {
  position: absolute;
  top: 395px;
  left: 649px;
  width: 691px;
  height: 860.6px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.image-27-icon9 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-16-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.khch-hng-nh-container4 {
  position: absolute;
  top: 0;
  left: 0;
}
.khch-hng-nh-gi-0-cha-c-wrapper2 {
  position: absolute;
  top: 1340px;
  left: 464px;
  width: 416px;
  height: 132px;
}
.image-16-icon5,
.image-17-icon5,
.image-18-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-17-icon5,
.image-18-icon5 {
  left: 1010px;
}
.image-17-icon5 {
  left: 505px;
}
.levents-2lip-tee6,
.levents-classic-hoodie8,
.levents-flowers-window10 {
  position: absolute;
  top: 592px;
  left: 75px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-2lip-tee6,
.levents-flowers-window10 {
  left: 580px;
}
.levents-flowers-window10 {
  left: 1085px;
}
.image-16-parent2 {
  position: absolute;
  top: 1781px;
  left: -53px;
  width: 1450px;
  height: 710px;
  font-size: var(--font-size-xl);
}
.ng-nhp21 {
  text-decoration: underline;
}
.ng-nhp20 {
  color: inherit;
}
.vit-nh-gi6 {
  color: var(--color-black);
}
.ng-nhp-vit-container6 {
  position: absolute;
  top: 1517px;
  left: 382px;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
}
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  position: absolute;
  height: 1.27%;
  width: 2.83%;
  top: 48.8%;
  right: 57.33%;
  bottom: 49.93%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  right: 53.09%;
  left: 44.08%;
}
.vector-icon35,
.vector-icon36,
.vector-icon37 {
  right: 48.85%;
  left: 48.32%;
}
.vector-icon36,
.vector-icon37 {
  width: 2.76%;
  right: 44.68%;
  left: 52.57%;
}
.vector-icon37 {
  width: 2.83%;
  right: 39.84%;
  left: 57.33%;
}
.footer-child8,
.header-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.footer-child8 {
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container20 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn31 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn30 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container20,
.h-tr-ti-container10 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container10 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon10 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share21 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.best-seller4,
.footer10 {
  position: absolute;
  text-align: left;
}
.footer10 {
  top: 2491px;
  left: 7px;
  width: 1325px;
  height: 353px;
  font-size: var(--font-size-xl);
}
.best-seller4 {
  top: 1750px;
  left: 569px;
  font-size: var(--font-size-13xl);
}
.home41 {
  font-weight: 200;
}
.home-all-products-levents7 {
  position: absolute;
  top: 310px;
  left: 108px;
}
.desktop-16 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
