.image-27-icon3 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-6-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.header-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1339px;
  height: 264px;
}
.home18 {
  text-decoration: underline;
}
.home17 {
  font-weight: 200;
}
.home16 {
  color: inherit;
}
.desktop-6-item,
.home-all-products-levents1 {
  position: absolute;
  top: 310px;
  left: 108px;
}
.desktop-6-item {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1339px;
  height: 1018px;
}
.frame-child,
.group-child27 {
  position: absolute;
  top: 0;
  left: 219px;
  background-color: var(--color-gainsboro-100);
  width: 749px;
  height: 1027px;
}
.group-child27 {
  left: 0;
  background-color: var(--color-white);
}
.gi-hng-ca1,
.ti-khon13 {
  position: absolute;
  top: 35px;
  left: 55px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  text-align: center;
}
.ti-khon13 {
  left: 509px;
  font-weight: 200;
  cursor: pointer;
}
.group-child28 {
  position: absolute;
  top: 73.5px;
  left: 31.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 667px;
  height: 1px;
}
.chc-mng-bn {
  margin: 0;
}
.chc-mng-bn-container {
  position: absolute;
  top: 85px;
  left: 24px;
  text-align: center;
  display: inline-block;
  width: 674px;
  height: 84px;
}
.group-child29 {
  position: absolute;
  top: 205px;
  left: 322px;
  background-color: var(--color-white);
  width: 361.6px;
  height: 361px;
}
.color9 {
  top: 376.8px;
  white-space: pre-wrap;
  width: 52.5px;
  height: 23.1px;
}
.color9,
.levents-05-jersey-container1,
.size-size-26 {
  position: absolute;
  left: 334.8px;
  display: inline-block;
}
.levents-05-jersey-container1 {
  top: 216.6px;
  font-size: var(--font-size-xl);
  width: 329px;
  height: 93.9px;
}
.size-size-26 {
  top: 320.5px;
  white-space: pre-wrap;
  width: 307.7px;
  height: 23.1px;
}
.group-child30 {
  position: absolute;
  top: 381.2px;
  left: 533.3px;
  background-color: var(--color-red);
  width: 21.3px;
  height: 15.9px;
}
.s-lng9 {
  position: absolute;
  top: 433.2px;
  left: 334.8px;
  font-size: var(--font-size-smi);
  white-space: pre-wrap;
  display: inline-block;
  width: 293.6px;
  height: 23.1px;
}
.group-child31 {
  position: absolute;
  top: 501px;
  left: 387.2px;
  background-color: var(--color-gainsboro-100);
  width: 224.1px;
  height: 33.2px;
}
.xa6 {
  position: absolute;
  top: 505.4px;
  left: 486.5px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 34px;
  height: 23.1px;
}
.group-child32 {
  position: absolute;
  top: 566px;
  left: 323px;
  background-color: var(--color-white);
  width: 361.6px;
  height: 361px;
}
.color10 {
  top: 737.8px;
  white-space: pre-wrap;
  width: 52.5px;
  height: 23.1px;
}
.color10,
.levents-college-vibe-container2,
.size-size-27 {
  position: absolute;
  left: 335.8px;
  display: inline-block;
}
.levents-college-vibe-container2 {
  top: 577.6px;
  font-size: var(--font-size-xl);
  width: 329px;
  height: 93.9px;
}
.size-size-27 {
  top: 681.5px;
  white-space: pre-wrap;
  width: 307.7px;
  height: 23.1px;
}
.group-child33 {
  position: absolute;
  top: 742.2px;
  left: 534.3px;
  background-color: #6b8170;
  width: 21.3px;
  height: 15.9px;
}
.s-lng10 {
  position: absolute;
  top: 794.2px;
  left: 335.8px;
  font-size: var(--font-size-smi);
  white-space: pre-wrap;
  display: inline-block;
  width: 293.6px;
  height: 23.1px;
}
.group-child34 {
  position: absolute;
  top: 862px;
  left: 388.2px;
  background-color: var(--color-gainsboro-100);
  width: 224.1px;
  height: 33.2px;
}
.xa7 {
  position: absolute;
  top: 866.4px;
  left: 487.5px;
  font-size: var(--font-size-smi);
  display: inline-block;
  width: 34px;
  height: 23.1px;
}
.image-28-icon5,
.image-29-icon6 {
  position: absolute;
  top: 208px;
  left: 80px;
  width: 218px;
  height: 273px;
  object-fit: cover;
}
.image-29-icon6 {
  top: 589px;
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 219px;
  width: 749px;
  height: 1027px;
  text-align: left;
  font-size: var(--font-size-base);
}
.thanh-ton6,
.thot5 {
  position: absolute;
  top: 971px;
  left: 505px;
  color: var(--color-white);
}
.thot5 {
  top: 896px;
  left: 243px;
  color: var(--color-red);
  cursor: pointer;
}
.desktop-6-inner,
.frame-div {
  position: absolute;
  top: 0;
  width: 968px;
  height: 1027px;
}
.frame-div {
  left: 0;
  overflow: hidden;
}
.desktop-6-inner {
  left: 375px;
  font-size: var(--font-size-13xl);
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1018px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
