.group-child44 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 632.4px;
  height: 860.6px;
}
.levents-asia3 {
  margin: 0;
  font-weight: 100;
}
.levents-flowers-window-tee-c {
  margin: 0;
  font-size: var(--font-size-mini);
}
.vnd16 {
  margin: 0;
}
.blank-line22 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line24 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.color11 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.levents-asia-levents-flowers-container {
  position: absolute;
  top: 72.6px;
  left: 64px;
  display: inline-block;
  width: 627px;
  height: 252.8px;
  font-size: var(--font-size-smi);
}
.group-child45 {
  position: absolute;
  top: 186px;
  left: 305px;
  background-color: #f1e8e8;
  width: 59px;
  height: 43px;
}
.size3 {
  position: absolute;
  top: 266px;
  left: 66.8px;
  display: inline-block;
  width: 61.6px;
  height: 32.3px;
}
.group-child46,
.group-child47,
.group-child48 {
  position: absolute;
  top: 325.4px;
  left: 123px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 101.8px;
  height: 45.7px;
}
.group-child47,
.group-child48 {
  left: 275.7px;
}
.group-child48 {
  left: 428.4px;
}
.div12,
.div13 {
  top: 330.8px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.div12 {
  position: absolute;
  left: 163.1px;
  display: inline-block;
  height: 32.3px;
}
.div13 {
  left: 315.9px;
}
.div13,
.div14,
.s-lng11 {
  position: absolute;
  display: inline-block;
  height: 32.3px;
}
.div14 {
  top: 330.8px;
  left: 465.9px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.s-lng11 {
  top: 398px;
  left: 61.3px;
  width: 112.5px;
}
.group-child49 {
  position: absolute;
  top: 459.8px;
  left: 206px;
  background-color: var(--color-gainsboro-100);
  width: 270.6px;
  height: 61.9px;
}
.thm-vo-gi3 {
  position: absolute;
  top: 480px;
  left: 264.1px;
  display: inline-block;
  width: 171.5px;
  height: 32.3px;
}
.group-child50 {
  position: absolute;
  top: 540.5px;
  left: 208.7px;
  background-color: var(--color-black);
  width: 270.6px;
  height: 61.9px;
  cursor: pointer;
}
.mua-ngay7 {
  position: absolute;
  top: 555px;
  left: 283px;
  color: var(--color-white);
  display: inline-block;
  width: 125.9px;
  height: 32.3px;
}
.sn-phm-nm3 {
  margin: 0;
  font-weight: 200;
}
.chnh-sch-vn-container3,
.thng-tin-sn-container5 {
  position: absolute;
  top: 629.3px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 570.7px;
  height: 83.4px;
}
.chnh-sch-vn-container3 {
  top: 720.7px;
  width: 562.7px;
  height: 129.1px;
}
.rectangle-parent18 {
  position: absolute;
  top: 395px;
  left: 649px;
  width: 691px;
  height: 860.6px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.image-27-icon6 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-11-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.khch-hng-nh-container1 {
  position: absolute;
  top: 0;
  left: 0;
}
.khch-hng-nh-gi-0-cha-c-container {
  position: absolute;
  top: 1340px;
  left: 464px;
  width: 416px;
  height: 132px;
}
.image-16-icon2,
.image-17-icon2,
.image-18-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-17-icon2,
.image-18-icon2 {
  left: 1010px;
}
.image-17-icon2 {
  left: 505px;
}
.levents-2lip-tee3,
.levents-classic-hoodie5,
.levents-flowers-window7 {
  position: absolute;
  top: 592px;
  left: 75px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-2lip-tee3,
.levents-flowers-window7 {
  left: 580px;
}
.levents-flowers-window7 {
  left: 1085px;
}
.image-16-group {
  position: absolute;
  top: 1781px;
  left: -53px;
  width: 1450px;
  height: 710px;
  font-size: var(--font-size-xl);
}
.ng-nhp15 {
  text-decoration: underline;
}
.ng-nhp14 {
  color: inherit;
}
.vit-nh-gi3 {
  color: var(--color-black);
}
.ng-nhp-vit-container3 {
  position: absolute;
  top: 1517px;
  left: 382px;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
}
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 1.27%;
  width: 2.83%;
  top: 48.8%;
  right: 57.33%;
  bottom: 49.93%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22 {
  right: 53.09%;
  left: 44.08%;
}
.vector-icon20,
.vector-icon21,
.vector-icon22 {
  right: 48.85%;
  left: 48.32%;
}
.vector-icon21,
.vector-icon22 {
  width: 2.76%;
  right: 44.68%;
  left: 52.57%;
}
.vector-icon22 {
  width: 2.83%;
  right: 39.84%;
  left: 57.33%;
}
.footer-child4,
.header-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.footer-child4 {
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container16 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn19 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn18 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container16,
.h-tr-ti-container6 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container6 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon6 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share17 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.best-seller1,
.footer6 {
  position: absolute;
  text-align: left;
}
.footer6 {
  top: 2491px;
  left: 7px;
  width: 1325px;
  height: 353px;
  font-size: var(--font-size-xl);
}
.best-seller1 {
  top: 1750px;
  left: 569px;
  font-size: var(--font-size-13xl);
}
.home29 {
  font-weight: 200;
}
.home-all-products-levents4 {
  position: absolute;
  top: 308px;
  left: 54px;
}
.desktop-11 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
