.home27 {
  text-decoration: underline;
}
.home26 {
  font-weight: 200;
}
.home25 {
  color: inherit;
}
.levents-05-jersey4 {
  font-family: var(--font-inter);
}
.home-outfit-levents-05-je-container1 {
  position: absolute;
  top: 294px;
  left: 116px;
  font-size: var(--font-size-17xl);
}
.model1 {
  margin: 0;
}
.model-height-1m78-weight-container1 {
  position: absolute;
  top: 445px;
  left: 436px;
  font-size: var(--font-size-21xl);
  font-weight: 200;
}
.image-23-icon5,
.image-24-icon5,
.image-25-icon5,
.image-26-icon5 {
  position: absolute;
  top: 855px;
  left: 17px;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-24-icon5,
.image-25-icon5,
.image-26-icon5 {
  left: 457px;
}
.image-25-icon5,
.image-26-icon5 {
  left: 887px;
}
.image-26-icon5 {
  top: 1471px;
  left: 333px;
  width: 236px;
  height: 296px;
}
.levents-flowers-window-container4 {
  position: absolute;
  top: 1527px;
  left: 645px;
  text-align: left;
}
.xem-chi-tit1 {
  position: absolute;
  top: 1644px;
  left: 645px;
  color: var(--color-crimson);
  cursor: pointer;
}
.footer-child3,
.header-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.footer-child3 {
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container15 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn16 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn15 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container15,
.h-tr-ti-container5 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container5 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon5 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share16 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.footer5,
.thng-tin-sn-container4 {
  position: absolute;
  font-size: var(--font-size-xl);
  text-align: left;
}
.footer5 {
  top: 2070px;
  left: 29px;
  width: 1325px;
  height: 353px;
}
.thng-tin-sn-container4 {
  top: 1874px;
  left: 86px;
}
.desktop-10 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2433px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
