.group-child71 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 632.4px;
  height: 860.6px;
}
.levents-asia7 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 100;
}
.levents-cargo-sweatpants-dar,
.vnd21 {
  margin: 0;
}
.vnd21 {
  font-size: var(--font-size-mini);
}
.blank-line40 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.color15 {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.levents-asia-levents-cargo-container {
  position: absolute;
  top: 72.6px;
  left: 64px;
  display: inline-block;
  width: 627px;
  height: 252.8px;
  font-size: var(--font-size-3xs);
}
.group-child72 {
  position: absolute;
  top: 186px;
  left: 305px;
  background-color: var(--color-black);
  width: 59px;
  height: 43px;
}
.size7 {
  position: absolute;
  top: 266px;
  left: 66.8px;
  display: inline-block;
  width: 61.6px;
  height: 32.3px;
}
.group-child73,
.group-child74,
.group-child75 {
  position: absolute;
  top: 325.4px;
  left: 123px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 101.8px;
  height: 45.7px;
}
.group-child74,
.group-child75 {
  left: 275.7px;
}
.group-child75 {
  left: 428.4px;
}
.div24,
.div25 {
  top: 330.8px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.div24 {
  position: absolute;
  left: 163.1px;
  display: inline-block;
  height: 32.3px;
}
.div25 {
  left: 315.9px;
}
.div25,
.div26,
.s-lng15 {
  position: absolute;
  display: inline-block;
  height: 32.3px;
}
.div26 {
  top: 330.8px;
  left: 465.9px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.s-lng15 {
  top: 398px;
  left: 61.3px;
  width: 112.5px;
}
.group-child76 {
  position: absolute;
  top: 459.8px;
  left: 206px;
  background-color: var(--color-gainsboro-100);
  width: 270.6px;
  height: 61.9px;
}
.group-child77,
.thm-vo-gi7 {
  position: absolute;
  cursor: pointer;
}
.thm-vo-gi7 {
  top: 480px;
  left: 263px;
  display: inline-block;
  width: 171.5px;
  height: 32.3px;
}
.group-child77 {
  top: 540.5px;
  left: 208.7px;
  background-color: var(--color-black);
  width: 270.6px;
  height: 61.9px;
}
.mua-ngay11 {
  position: absolute;
  top: 555px;
  left: 282px;
  color: var(--color-white);
  display: inline-block;
  width: 125.9px;
  height: 32.3px;
}
.sn-phm-nm7 {
  margin: 0;
  font-weight: 200;
}
.chnh-sch-vn-container7,
.thng-tin-sn-container10 {
  position: absolute;
  top: 629.3px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 570.7px;
  height: 83.4px;
}
.chnh-sch-vn-container7 {
  top: 720.7px;
  width: 562.7px;
  height: 129.1px;
}
.rectangle-parent22 {
  position: absolute;
  top: 395px;
  left: 649px;
  width: 691px;
  height: 860.6px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.image-27-icon10 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-17-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.khch-hng-nh-container5 {
  position: absolute;
  top: 0;
  left: 0;
}
.khch-hng-nh-gi-0-cha-c-wrapper3 {
  position: absolute;
  top: 1340px;
  left: 464px;
  width: 416px;
  height: 132px;
}
.image-16-icon6,
.image-17-icon6,
.image-18-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-17-icon6,
.image-18-icon6 {
  left: 1010px;
}
.image-17-icon6 {
  left: 505px;
}
.levents-2lip-tee7,
.levents-classic-hoodie9,
.levents-flowers-window11 {
  position: absolute;
  top: 592px;
  left: 75px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-2lip-tee7,
.levents-flowers-window11 {
  left: 580px;
}
.levents-flowers-window11 {
  left: 1085px;
}
.image-16-parent3 {
  position: absolute;
  top: 1781px;
  left: -53px;
  width: 1450px;
  height: 710px;
  font-size: var(--font-size-xl);
}
.ng-nhp23 {
  text-decoration: underline;
}
.ng-nhp22 {
  color: inherit;
}
.vit-nh-gi7 {
  color: var(--color-black);
}
.ng-nhp-vit-container7 {
  position: absolute;
  top: 1517px;
  left: 382px;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
}
.vector-icon38,
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  position: absolute;
  height: 1.27%;
  width: 2.83%;
  top: 48.8%;
  right: 57.33%;
  bottom: 49.93%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  right: 53.09%;
  left: 44.08%;
}
.vector-icon40,
.vector-icon41,
.vector-icon42 {
  right: 48.85%;
  left: 48.32%;
}
.vector-icon41,
.vector-icon42 {
  width: 2.76%;
  right: 44.68%;
  left: 52.57%;
}
.vector-icon42 {
  width: 2.83%;
  right: 39.84%;
  left: 57.33%;
}
.footer-child9,
.header-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.footer-child9 {
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container21 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn34 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn33 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container21,
.h-tr-ti-container11 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container11 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon11 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share22 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.best-seller5,
.footer11 {
  position: absolute;
  text-align: left;
}
.footer11 {
  top: 2491px;
  left: 7px;
  width: 1325px;
  height: 353px;
  font-size: var(--font-size-xl);
}
.best-seller5 {
  top: 1750px;
  left: 569px;
  font-size: var(--font-size-13xl);
}
.home44 {
  font-weight: 200;
}
.home-all-products-levents8 {
  position: absolute;
  top: 310px;
  left: 108px;
}
.desktop-17 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
