.group-child20 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 632.4px;
  height: 860.6px;
}
.levents-asia2 {
  margin: 0;
  font-weight: 100;
}
.levents-05-jersey-red {
  margin: 0;
  font-size: var(--font-size-mini);
}
.vnd13 {
  margin: 0;
}
.blank-line16 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.blank-line18,
.color8 {
  margin: 0;
  font-size: var(--font-size-3xs);
}
.color8 {
  font-size: var(--font-size-5xl);
}
.levents-asia-levents-05-container {
  position: absolute;
  top: 72.6px;
  left: 64px;
  display: inline-block;
  width: 627px;
  height: 252.8px;
  font-size: var(--font-size-smi);
}
.group-child21 {
  position: absolute;
  top: 186px;
  left: 305px;
  background-color: var(--color-crimson);
  width: 59px;
  height: 43px;
}
.size2 {
  position: absolute;
  top: 266px;
  left: 66.8px;
  display: inline-block;
  width: 61.6px;
  height: 32.3px;
}
.group-child22,
.group-child23,
.group-child24 {
  position: absolute;
  top: 325.4px;
  left: 123px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 101.8px;
  height: 45.7px;
}
.group-child23,
.group-child24 {
  left: 275.7px;
}
.group-child24 {
  left: 428.4px;
}
.div10,
.div9 {
  top: 330.8px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.div9 {
  position: absolute;
  left: 163.1px;
  display: inline-block;
  height: 32.3px;
}
.div10 {
  left: 315.9px;
}
.div10,
.div11,
.s-lng8 {
  position: absolute;
  display: inline-block;
  height: 32.3px;
}
.div11 {
  top: 330.8px;
  left: 465.9px;
  font-size: var(--font-size-13xl);
  width: 18.8px;
}
.s-lng8 {
  top: 398px;
  left: 61.3px;
  width: 112.5px;
}
.group-child25 {
  position: absolute;
  top: 459.8px;
  left: 206px;
  background-color: var(--color-gainsboro-100);
  width: 270.6px;
  height: 61.9px;
}
.thm-vo-gi2 {
  position: absolute;
  top: 480px;
  left: 264.1px;
  display: inline-block;
  width: 171.5px;
  height: 32.3px;
}
.group-child26 {
  position: absolute;
  top: 540.5px;
  left: 208.7px;
  background-color: var(--color-black);
  width: 270.6px;
  height: 61.9px;
  cursor: pointer;
}
.mua-ngay6 {
  position: absolute;
  top: 555px;
  left: 283px;
  color: var(--color-white);
  display: inline-block;
  width: 125.9px;
  height: 32.3px;
}
.sn-phm-nm2 {
  margin: 0;
  font-weight: 200;
}
.chnh-sch-vn-container2,
.thng-tin-sn-container3 {
  position: absolute;
  top: 629.3px;
  left: 64px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 570.7px;
  height: 83.4px;
}
.chnh-sch-vn-container2 {
  top: 720.7px;
  width: 562.7px;
  height: 129.1px;
}
.rectangle-parent7 {
  position: absolute;
  top: 395px;
  left: 649px;
  width: 691px;
  height: 860.6px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.image-27-icon2 {
  position: absolute;
  top: 483px;
  left: 56px;
  width: 547px;
  height: 684px;
  object-fit: cover;
}
.desktop-5-child {
  position: absolute;
  top: 1718.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2001px;
  height: 1px;
}
.khch-hng-nh-container {
  position: absolute;
  top: 0;
  left: 0;
}
.khch-hng-nh-gi-0-cha-c-wrapper {
  position: absolute;
  top: 1340px;
  left: 464px;
  width: 416px;
  height: 132px;
}
.image-16-icon1,
.image-17-icon1,
.image-18-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 550px;
  object-fit: cover;
}
.image-17-icon1,
.image-18-icon1 {
  left: 1010px;
}
.image-17-icon1 {
  left: 505px;
}
.levents-2lip-tee2,
.levents-classic-hoodie4,
.levents-flowers-window5 {
  position: absolute;
  top: 592px;
  left: 75px;
  display: inline-block;
  width: 289px;
  height: 118px;
}
.levents-2lip-tee2,
.levents-flowers-window5 {
  left: 580px;
}
.levents-flowers-window5 {
  left: 1085px;
}
.image-16-parent {
  position: absolute;
  top: 1781px;
  left: -53px;
  width: 1450px;
  height: 710px;
  font-size: var(--font-size-xl);
}
.ng-nhp10 {
  text-decoration: underline;
}
.vit-nh-gi2 {
  color: var(--color-black);
}
.ng-nhp-vit-container2 {
  position: absolute;
  top: 1517px;
  left: 382px;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
}
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 1.27%;
  width: 2.83%;
  top: 48.8%;
  right: 57.33%;
  bottom: 49.93%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  right: 53.09%;
  left: 44.08%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17 {
  right: 48.85%;
  left: 48.32%;
}
.vector-icon16,
.vector-icon17 {
  width: 2.76%;
  right: 44.68%;
  left: 52.57%;
}
.vector-icon17 {
  width: 2.83%;
  right: 39.84%;
  left: 57.33%;
}
.footer-child1,
.header-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1343px;
  height: 264px;
}
.footer-child1 {
  background-color: var(--color-white);
  width: 1325px;
  height: 353px;
}
.lin-h-hotline-container13 {
  position: absolute;
  top: 43px;
  left: 543.1px;
  display: inline-block;
  width: 239.2px;
}
.e-nguyn-tri-phng-bn-thn10 {
  margin-bottom: 0;
}
.e-nguyn-tri-phng-bn-thn9 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}
.ca-hng-139e-container13,
.h-tr-ti-container3 {
  position: absolute;
  top: 38px;
  left: 803.5px;
  display: inline-block;
  width: 482.2px;
}
.h-tr-ti-container3 {
  top: 194px;
  left: 809px;
  width: 403.1px;
}
.image-3-icon3 {
  position: absolute;
  top: 62px;
  left: 44.4px;
  width: 253px;
  height: 57px;
  object-fit: cover;
}
.levents-share14 {
  position: absolute;
  top: 146px;
  left: 44.4px;
  text-align: center;
  display: inline-block;
  width: 245.7px;
}
.best-seller,
.footer3 {
  position: absolute;
  text-align: left;
}
.footer3 {
  top: 2491px;
  left: 7px;
  width: 1325px;
  height: 353px;
  font-size: var(--font-size-xl);
}
.best-seller {
  top: 1750px;
  left: 569px;
  font-size: var(--font-size-13xl);
}
.home14 {
  font-weight: 200;
}
.all-products {
  color: inherit;
}
.home-all-products-levents {
  position: absolute;
  top: 310px;
  left: 108px;
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
